[ngs_coordination]
backend_url = mysql://tooz:TOOZ_DBPASS@{{ db_host }}:{{ db_port }}/tooz

{% for si in network_openstack_baremetal.switch_info %}
[genericswitch:{{ si.genericswitch }}]
device_type = {{ si.device_type }}
username = {{ si.username }}
password = {{ si.password }}
ip = {{ si.ip }}
port = {{ si.port }}
ngs_mac_address = {{ si.ngs_mac_address }}
ngs_port_default_vlan = {{ si.ngs_port_default_vlan }}
ngs_max_connections = {{ si.ngs_max_connections }}

{% endfor %}
