[DEFAULT]
debug=True
enabled_apis = osapi_compute,metadata
my_ip = {{ hostvars[inventory_hostname]['ansible_' + network_openstack.management.interface]['ipv4']['address'] }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
reserved_host_memory_mb=0
compute_driver=ironic.IronicDriver
transport_url = rabbit://{{ nova_rabbit_servers }}
instance_name_template = instance-%(uuid)s

[api]
auth_strategy = keystone

[oslo_messaging_rabbit]
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_ha_queues=true
amqp_durable_queues=true

[keystone_authtoken]
auth_uri = http://{{ auth_public_host }}:{{ auth_public_port }}
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ openstack_nova.auth.password }}

[glance]
api_servers = http://{{ glance_api_host }}:{{ glance_api_port }}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[neutron]
url = http://{{ neutron_server_host }}:{{ neutron_server_port }}
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ openstack_neutron.auth.password }}

[notifications]
notification_format=unversioned

[placement]
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}/v3
auth_type = password
project_domain_name = default
user_domain_name = default
os_region_name = RegionOne
project_name = service
username = placement
password = {{ openstack_placement.auth.password }}

[quota]
instances = -1
cores = -1
ram = -1
key_pairs = 500
server_groups = -1
server_group_members = -1

[ironic]
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}/v3
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = ironic
password = {{ openstack_ironic.auth.password }}

[serial_console]
enabled = true
proxyclient_address = 0.0.0.0
base_url = ws://{{ nova_serialproxy_host }}:{{ nova_serialproxy_port }}
