[
 {rabbit,
  [
    {tcp_listeners, [{"{{ hostvars[inventory_hostname]['ansible_' + network_openstack.management.interface]['ipv4']['address'] }}", {{ rabbitmq_port }}}]},
        {cluster_partition_handling, pause_minority},
    {loopback_users, []}
  ]},

 {log_levels,
  [
    {connection, info}
  ]},

 {rabbitmq_management,
 [
  {listener, [{port, {{ rabbitmq_mgr_port }}},
              {ip, "{{ hostvars[inventory_hostname]['ansible_' + network_openstack.management.interface]['ipv4']['address'] }}"},
              {ssl, false}]}
 ]}
].
