# This is the recommend minimum for using introspection
port=0
bind-interfaces
enable-tftp

# These values do not have reasonable defaults
tftp-root=/tftpboot
interface={{ network_openstack_baremetal.inspector.interface }}
dhcp-range={{ network_openstack_baremetal.inspector.dhcp_range_start }},{{ network_openstack_baremetal.inspector.dhcp_range_end }}
dhcp-boot=pxelinux.0
dhcp-sequential-ip
