[DEFAULT]
nova_metadata_host = {{ nova_api_metadata_host }}
nova_metadata_port = {{ nova_api_metadata_port }}
metadata_proxy_shared_secret = {{ metadata_secret }}
verbose = True
metadata_workers = 8
