[DEFAULT]
api_workers = 8
rpc_workers = 4
rpc_state_report_workers = 4
core_plugin = ml2
service_plugins = router,qos
allow_overlapping_ips = True
auth_strategy = keystone
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
dhcp_agents_per_network = 2
enable_snat_by_default = false
api_paste_config = api-paste.ini
dhcp_lease_duration = -1
notification_drivers=messaging
enable_fip_rate_limit=true
fip_rate_limit_default_rate=1000
{% if network_openstack.tenant.network_type is defined and network_openstack.tenant.network_type == 'vxlan' %}
global_physnet_mtu = 1550
{% endif %}
bind_host = {{ inventory_hostname }}
bind_port = {{ openstack_neutron.port }}
transport_url = rabbit://{{ other_rabbit_servers }}
debug = true
rpc_workers = 4
rpc_state_report_workers = 4
{% if groups['ironic']|length > 0 %}
router_distributed = false
l3_ha = True
l3_ha_net_cidr = 169.254.192.0/18
max_l3_agents_per_router = 3
{% else %}
router_distributed = True
{% endif %}

[database]
min_pool_size = 100
max_pool_size = 200
max_overflow = 50
connection_recycle_time = 1800
{% if network_openstack.management.vip is defined and network_openstack.management.vip %}
connection = mysql+pymysql://{{ openstack_neutron.db.user }}:{{ openstack_neutron.db.password }}@{{ network_openstack.management.vip }}:{{ mariadb.port_ha }}/neutron
{% else %}
connection = mysql+pymysql://{{ openstack_neutron.db.user }}:{{ openstack_neutron.db.password }}@{{ groups['mariadb'][0] }}:{{ mariadb.port }}/neutron
{% endif %}

[keystone_authtoken]
auth_uri = http://{{ auth_public_host }}:{{ auth_public_port }}
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ openstack_neutron.auth.user }}
password = {{ openstack_neutron.auth.password }}

[nova]
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = {{ openstack_nova.auth.user }}
password = {{ openstack_nova.auth.password }}

[oslo_messaging_rabbit]
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_ha_queues=true
amqp_durable_queues=true

[oslo_concurrency]
lock_path = /var/lib/neutron/tmp

[quotas]
quota_network = 5
quota_subnet = 100
quota_port = 5000
quota_driver = neutron.db.quota.driver.DbQuotaDriver
track_quota_usage = true
quota_router = 5
quota_floatingip = -1
quota_security_group = 100
quota_security_group_rule = 5000
