[DEFAULT]
debug=True
enabled_apis = osapi_compute,metadata
my_ip = {{ hostvars[inventory_hostname]['ansible_' + network_openstack_compute.management.interface]['ipv4']['address'] }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
reserved_host_disk_mb=102400
reserved_host_memory_mb=8192
transport_url = rabbit://{{ nova_rabbit_servers }}
instance_name_template = instance-%(uuid)s
{% if ansible_processor_vcpus >= 8 %}
vcpu_pin_set=4-{{ ansible_processor_vcpus -1 }}
{% endif %}

[api]
auth_strategy = keystone

[oslo_messaging_rabbit]
rabbit_retry_interval=1
rabbit_retry_backoff=2
rabbit_max_retries=0
rabbit_ha_queues=true
amqp_durable_queues=true

[keystone_authtoken]
auth_uri = http://{{ auth_public_host }}:{{ auth_public_port }}
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
memcached_servers = {{ memcached_servers }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ openstack_nova.auth.password }}

[vnc]
enabled = True
vncserver_listen = {{ hostvars[inventory_hostname]['ansible_' + network_openstack_compute.management.interface]['ipv4']['address'] }}
vncserver_proxyclient_address = {{ hostvars[inventory_hostname]['ansible_' + network_openstack_compute.management.interface]['ipv4']['address'] }}
novncproxy_base_url = http://{{ nova_novncproxy_host }}:{{ nova_novncproxy_port }}/vnc_auto.html

[glance]
api_servers = http://{{ glance_api_host }}:{{ glance_api_port }}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

{% if backend_openstack.nova.compute_driver == 'libvirt' %}
[libvirt]
{% if backend_openstack.nova.images_type == 'rbd' %}
images_type = rbd
images_rbd_pool = vms
images_rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_user = cinder
rbd_secret_uuid = {{ secret_uuid }}
{% endif %}
disk_cachemodes="network=writethrough"
inject_password = false
inject_key = false
inject_partition = -2
live_migration_tunnelled=true
live_migration_permit_auto_converge=true
live_migration_progress_timeout=0
live_migration_completion_timeout=36000
live_migration_downtime_steps=3
live_migration_downtime_delay=3600
live_migration_downtime=2000
live_migration_inbound_addr = {{ hostvars[inventory_hostname]['ansible_' + live_migration_interface]['ipv4']['address'] }}
{% endif %}

[neutron]
url = http://{{ neutron_server_host }}:{{ neutron_server_port }}
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ openstack_neutron.auth.password }}

[oslo_messaging_notifications]
driver=noop

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ auth_admin_host }}:{{ auth_admin_port }}/v3

username = placement
password = {{ openstack_placement.auth.password }}

[quota]
instances = -1
cores = -1
ram = -1
key_pairs = 500
server_groups = -1
server_group_members = -1
